body {
 background: #2F2E41;
 
font-family: 'Open Sans', sans-serif;
}

.page {
   
 }

 nav {
  font-family: 'JetBrains Mono', monospace;
 }
 
 ul {

 }
 
 a {

 }

 li {

 }

 ul li a:hover {

 }

 main {

 }

 h1 {
  font-family: 'JetBrains Mono', monospace;
 }

 h1 span {

 }

 p {

 }

 p strong {

 }

 footer { 
  font-family: 'JetBrains Mono', monospace;
 }

