body {
  margin: 0;
  background: #2F2E41;
 
  font-family: 'Open Sans', sans-serif;
}

.page {
   width: 1080px;
   margin: 0 auto;
   padding-top: 71px;
 }

 nav {
   font-family: 'JetBrains Mono', monospace;

   display: flex;
   align-items: center;
   justify-content: space-between;
  
   margin-bottom: 101px;
  }
 
 ul {
   list-style: none;
   display: flex;  
   gap: 64px;
   margin: 0;
   padding: 0;
   
  }
 
 a {
   color: #FFF;
   text-decoration: none;
  }

  ul li a {
    opacity: 0.5;
  }

 ul li a:hover {
  font-weight: Medium;
  opacity: 1;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .text {
    text-align: right;
    max-width: 50%; /* Define a largura máxima para alinhar ao centro */
    margin-right: 5%; /* Espaço entre o texto e a imagem */
  }
  
  h1 {
    font-family: 'JetBrains Mono', monospace;
    color: #FFF;
    margin-bottom: 59px;
  }
  
  h1 span {
    color: #00BFA6;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
    text-align: center;
    font-weight: 400;
    font-size: 16px
    
  }
  
  p strong {
    font-weight: 700;
  }
  
  p span {
    color: #00BFA6;
    font-weight: 700;
  }
  
  
  .image {
    max-width: 45%; /* Define a largura máxima para a imagem */
    margin-right: 82px;
  }
  
  #line {
    width: 570px;
    height: 1 px;
    margin: 0px auto 8px;
    border: 1px solid #00BFA6;
    margin-top: 167px;
    }

 footer { 
   font-family: 'JetBrains Mono', monospace;
   color: #FFF;
   text-align: center;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 28px;

   margin-top: 27px;
   
  }

  #padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999; /* Opcional: ajusta a camada de empilhamento (z-index) se necessário */
  }
  