body {
  margin: 0;
 background: #2F2E41;
 
 font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1080px;
  margin: 0 auto;
  padding-top: 71px;
 }

 nav {
  font-family: 'JetBrains Mono', monospace;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 101px;
 }
 
 ul {

 }
 
 a {

 }

 li {

 }

 ul li a:hover {

 }

 main {

 }

 h1 {
  font-family: 'JetBrains Mono', monospace;
 }

 h1 span {

 }

 p {

 }

 p strong {

 }

 footer { 
  font-family: 'JetBrains Mono', monospace;
 }

